name: Midgard fork release
on:
  push:
    branches:
      - releases/**-midgard

jobs:
  build:
    runs-on: ubuntu-20.04
    steps:
      - uses: actions/checkout@v2
        with:
          token: ${{ secrets.GIT_TOKEN }}
      - name: Use Node.js
        uses: actions/setup-node@v1
        with:
          node-version: "12.x"
      - run: |
          git config user.name github-actions
          git config user.email github-actions@github.com
          ./scripts/midgard/release_iteration.sh "${GITHUB_REF}"
